<!DOCTYPE html>
<html>
    <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <h3 class="titulo-cambiante"><%- titulo %></h3>
    

    <div class="titulos">
      
      <% for (let i = 0; i < actors.length; i ++){ %>
          

        <a href="/actors/detail/<%= actors[i].id %>">
            <img src="/images/avatar.jpg" alt="">
            <p><%= actors[i].first_name + " " + actors[i].last_name %></p>      
        </a>

      <% } %>
      
  </div>

  </body>
  <%- include('./partials/footer') %>
</html>
