<!DOCTYPE html>
<html>
    <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>

    <div class="contenedor-movie">
        
      <h2>Registrar una actuación</h2>

      <form action="/actuacion/" method="post">
        <div>
            <label for="#">Actor a asignar</label>
            <select name="actor">
            
            <% for (let i = 0; i < actores.length; i++) { %>
                <option value="<%=actores[i].id%>"><%=actores[i].first_name%> <%=actores[i].last_name %></option>
            <% } %>
            </select>

            <label for="#">Pelicula a asignar</label>
            <select name="movie">
            
            <% for (let i = 0; i < peliculas.length; i++) { %>
                <option value="<%=peliculas[i].id%>"><%=peliculas[i].title%></option>
            <% } %>
            </select>

            <button type="submit">Confirmar</button>
        </div>
    </form>    


    </div>
  </body>
  <%- include('./partials/footer') %>
</html>
