<!DOCTYPE html>
<html>
    <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>

    <div class="contenedor-movie">
        
      <img src="/images/image_logo.PNG" alt="">
      <div class="datos">
          <h1><%= pelicula.title %></h1>        
          <p>Rating: <%= pelicula.rating %></p>
          <p>Premios: <%= pelicula.awards %></p>
          <p>Duracion: <%= pelicula.length %></p>
          <p>Fecha de estreno: <%= pelicula.release_date %></p>
          <p>Actores: </p>
          
          <ul>
            <% for (let i = 0; i < pelicula.actores.length; i++){ %>
            <li><%= pelicula.actores[i].first_name %> <%= pelicula.actores[i].last_name %></li>
            <% } %>
          </ul>
          

      </div>

      <form action="/movies/edit/<%= pelicula.id %>?_method=PUT" method="POST" class="botones">
        <button type="submit" class="edit"><i class="far fa-edit"></i></button>
      </form>

      <form action="/movies/delete/<%= pelicula.id %>?_method=DELETE" method="POST" class="botones">
        <button type="submit" class="delete"><i class="fas fa-trash-alt basura"></i></button>
      </form>


    </div>
  </body>
  <%- include('./partials/footer') %>
</html>
