<!DOCTYPE html>
<html>
    <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>

    <div class="contenedor-movie">

      <div class="botones">

        <a href="/movies/edit/<%=pelicula.id%>"><button class="edit"><i class="fas fa-edit"></i></button></a>
        
        <form action="/movies/delete/<%=pelicula.id%>?_method=DELETE" method="post">
          <button type="submit" class="delete"><i class="fas fa-trash"></i></button>
        </form>

      </div>
           
      <div class="datos">
        <div class="datos_principales">
             
              <% if ( pelicula.genero != null) {%> 
                <a href="/genres/detail/<%=pelicula.id%>">
                  <p class="genero"><%= pelicula.genero.name %></p>
                </a>  
              <% } else { %>  
                <p class="genero">Sin género</p>
              <% } %>
            
          
            <h1><%= pelicula.title %></h1>   
            <% if (pelicula.length != null) {%>
              <p><%= pelicula.length %> minutos</p> 
            <% } %>
        </div>

        <div class="fecha">

          <% if (fechaFormateada.length != null) {%>
            <p>Estrenada el <%- fechaFormateada %></p>
          <% } %>

        </div>

        <div class="datos_calificaciones">

          <% if (pelicula.rating != null) {%>
            <p><i class="fas fa-thumbs-up"></i> Rating: <%= pelicula.rating %></p>
          <% } %>
          <% if (pelicula.awards != null) {%>
            <p><i class="fas fa-trophy"></i> Premios: <%= pelicula.awards %></p>
          <% } %>
        </div>

        
        <div class="actores">
          
          <% if (pelicula.actores.length > 0) {%>
            <% for (let i = 0; i < pelicula.actores.length; i++){ %>
              
              <a href="/actors/detail/<%=pelicula.actores[i].id%>">
                <img src="https://www.themoviedb.org/t/p/original/pJrcYGmJjwmJ9Zl07Vt0uhjF5S9.jpg" class="actor" title="<%= pelicula.actores[i].first_name %> <%= pelicula.actores[i].last_name %>">
              </a>

            <% } %>
          <% } %>
        </div>

        
      </div>

      

    </div>
  </body>
  <%- include('./partials/footer') %>
</html>
