<!DOCTYPE html>
<html>
    <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <h1 class="titulo-cambiante"><%- titulo %></h1>
    

    <div class="titulos">
      
      <% for (let i = 0; i < peliculas.length; i ++){ %>
          

          <a href="/movies/detail/<%= peliculas[i].id %>">
            <img src="/images/image_logo.PNG" alt="logo_movie">  
            <p><%= peliculas[i].title %></p>
              
          </a>

      <% } %>
      
  </div>

  </body>
  <%- include('./partials/footer') %>
</html>
