<!DOCTYPE html>
<html>
    <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <h1 class="titulo-cambiante"><%- titulo %></h1>

    <%- include('./partials/carrusel') %>
      
  </div>

  <!----- PARA EL SLIDER ------>
  <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
	<script src="/js/sliderApp.js"></script>

  </body>
  <%- include('./partials/footer') %>
</html>
