<!DOCTYPE html>
<html>
    <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>

    <div class="contenedor-movie">
        
      <img src="/images/image_logo.PNG" alt="">
      <div class="datos">
          <h1><%= pelicula.title %></h1>        
          <p>Rating: <%= pelicula.rating %></p>
          <p>Premios: <%= pelicula.awards %></p>
          <p>Duracion: <%= pelicula.length %></p>
          <p>Fecha de estreno: <%= pelicula.release_date %></p>
      </div>
    </div>
  </body>
  <%- include('./partials/footer') %>
</html>
